import * as S from './{{pascalCase name}}.styled';

export function {{pascalCase name}}() {
	return (
		<S.Wrapper data-testid='{{dashCase name}}'>
			<h1>{{pascalCase name}}</h1>
		</S.Wrapper>
	);
}
